<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="myrobot">

<xacro:include filename="$(find my_robot_package)/urdf/omni.urdf.xacro"/>
  
  <xacro:macro name="base_link" params="parent xyz rpy">
    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_package/mesh/BB.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="base_color">
          <color rgba="0.34 0.55 0.949 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_package/mesh/BB.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="18.0" />
        <inertia 
          ixx="0.9" ixy="0.0" ixz="0.0"
          iyy="0.9" iyz="0.0"
          izz="0.01"/>
      </inertial>
    </link>

    <joint name="base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="base_link" />
      <origin xyz="${xyz}" rpy="${rpy}" />
    </joint>

    <!-- Childs -->
    
    <!-- Skill Issue TT -->
    
   
    <xacro:omni_wheel parent="base_link" suffix="1" xyz="0.181 -0.181 0.05" rpy="1.5708 0.0000 3.9270"/>
    <xacro:omni_wheel parent="base_link" suffix="2" xyz="-0.181 -0.181 0.05" rpy="1.5708 0.0000 2.3562"/>
    <xacro:omni_wheel parent="base_link" suffix="3" xyz="0.1810 0.181 0.05" rpy="1.5708 0.0000 -0.7854"/>
    <xacro:omni_wheel parent="base_link" suffix="4" xyz="-0.1810 0.181 0.05" rpy="1.5708 0.0000 0.7854"/>

    <!-- <xacro:lidar parent="base_link" suffix="1" xyz="0.0000 0.0000 0.1010" rpy="0 0 0"/>
    <xacro:imu parent="base_link" suffix="1" xyz="0 0 0" rpy="0 0 0"/> -->

  
  </xacro:macro>

  
</robot>
